/* .auth-links {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 10px;
}

.auth-links a {
  color: #28527a;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 3px;
  transition: background-color 0.3s, color 0.3s;
}

.auth-links a:hover {
  background-color: #28527a;
  color: #fff;
}

.logoutButton {
  background: #e94e77;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.logoutButton:hover {
  background-color: #c33a6d;
} */
