.section {
  padding: 20px;
  background: #fff;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px; /* 폼 요소 간의 간격 추가 */
}
.titleInput {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.editor {
  height: 300px;
  margin-bottom: 20px;
}

.passwordSection {
  margin-bottom: 10px;
}

.passwordInput {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
}

.submitButton {
  padding: 10px 20px;
  background-color: #28527a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 30px; /* 버튼과 위의 폼 요소 간격 추가 */
}

.submitButton:hover {
  background-color: #3e92cc;
}
