.section {
  padding: 20px;
  background: #fff;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px; /* 폼 요소 간의 간격 추가 */
}

.titleInput {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.editor {
  height: 300px;
  margin-bottom: 20px;
}

.passwordSection {
  margin-bottom: 10px;
}

.passwordInput {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
}

.submitButton {
  padding: 10px 20px;
  background-color: #28527a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 30px; /* 버튼과 위의 폼 요소 간격 추가 */
}

body.dark-mode .submitButton {
  color: #c9c9c9;
}

.submitButton:hover {
  background-color: #3e92cc;
}

/* 태그 관련 스타일 */
.tagSection {
  margin-top: 20px;
}

.tagInput {
  padding: 8px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.addTagButton {
  background-color: #3e92cc;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.addTagButton:hover {
  background-color: #28527a;
}

.tagLimitText {
  display: block;
  margin-top: 5px;
  color: #999;
  font-size: 0.85rem;
}

.tagContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.tag {
  background-color: #f0f0f0;
  color: #333;
  padding: 5px 12px;
  border-radius: 12px;
  font-size: 0.85rem;
  font-weight: 500;
  display: inline-block;
  transition: background-color 0.3s, transform 0.2s;
  cursor: pointer;
}

.tag:hover {
  background-color: #28527a;
  color: #fff;
  transform: translateY(-3px);
}

/* 비공개 설정 */
.privateSection {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.privateSection label {
  margin-right: 10px;
}

/* 사용자 추가 관련 스타일 */
.viewerSection {
  margin-top: 20px;
}

.viewerInput {
  padding: 8px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.addViewerButton {
  background-color: #3e92cc;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.addViewerButton:hover {
  background-color: #28527a;
}

.viewerContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.viewer {
  background-color: #f0f0f0;
  color: #333;
  padding: 5px 12px;
  border-radius: 12px;
  font-size: 0.85rem;
  font-weight: 500;
  display: inline-block;
  transition: background-color 0.3s, transform 0.2s;
  cursor: pointer;
}

.viewer:hover {
  background-color: #28527a;
  color: #fff;
  transform: translateY(-3px);
}
